

body {
  font-size: 1.2rem;
  font-family: "Play", sans-serif;
  background-color: #f1f1f1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(img/4.jpg);
  background-position: 50% 20%;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
h4 {
  font-weight: 800;
  text-shadow: -1px -1px 0 black,
    /* Shadow ke arah kiri atas */ 1px -1px 0 black,
    /* Shadow ke arah kanan atas */ -1px 1px 0 black,
    /* Shadow ke arah kiri bawah */ 1px 1px 0 black; /* Shadow ke arah kanan bawah */
}

.hero p {
  width: 700px;
  text-shadow: -1px -1px 0 black,
    /* Shadow ke arah kiri atas */ 1px -1px 0 black,
    /* Shadow ke arah kanan atas */ -1px 1px 0 black,
    /* Shadow ke arah kiri bawah */ 1px 1px 0 black; /* Shadow ke arah kanan bawah */
}

.service {
  height: 200px;
  margin: 100px 0;
}

.service i {
  font-size: 5rem;
  color: #b8895e;
}

.service p {
  font-size: 1.6rem;
}

/* ABOUT */
.about .card-title {
  font-size: 50px;
  font-weight: 900;
}
.about {
  min-width: 100%;
}

.about img {
  background-size: cover;
}

.about i {
  font-size: 2.7rem;
  color: #b8895e;
}

.about .caption {
  line-height: 20px;
}

.about .icon {
  margin-left: -34px;
  gap: 20px;
}

/* IMG SLIDE */
.uhuy {
    width: 1000px;
}
